page-upwork {
  font-size: larger;
  .line {
    width: 100%;
    height: 1px;
    background: gray;
  }

  ion-col {
      text-align: center;
      ion-icon{
        margin-top: 10px;
      }
    }


}
