page-welcome {
  text-align: center;
  .wel_logo {
    height: 180px;
    margin-top: 60px;
    margin-bottom: 10px;
  }
  .row_center {
    margin: 0 auto;
  }
  .blank_1 {
    border: 0px solid red;
    height: 20%
  }
}
